.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(../public/default-background.jpg);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgb(75 75 75 / 20%);
  background-color: rgba(250, 250, 250, 0.15);
  padding: 16px;
  color: whitesmoke;
}

  form {
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

    form > button {
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
      border: 1px solid royalblue;
      border-radius: 2px;
      color: white;
      background-color: royalblue;
    }

h1, h6 {
  padding: 0;
  color: whitesmoke;
}

h6 {
  margin-top: 0;
}

h1 {
  margin-bottom: 8px;
}